.footer {
  font: var(--font-0);
  background: var(--white);
  padding: 5vh 5vw;
  color: var(--black-700);
  border-top: solid 1px var(--black-200);
  background: var(--black-100);
  
  @media (min-width: 450px) {
    background-image: url(/img/bg-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
.footer-sections {
  display: grid;
  grid-template-columns: repeat(2, clamp(10em, 10vw, 15em));
  column-gap: 2em;
  row-gap: 3em;
  max-width: calc(1400px - 10vw);
  margin: 0 auto;

  @media (min-width: 800px) {
    grid-template-columns: repeat(4, clamp(10em, 10vw, 15em));
  }
}

.footer-section {
  & ul {
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
  }
  & li {
    margin: .75em 0;
  }
  & a {
    color: inherit;
    text-decoration: none;
  }
  & a:hover {
    color: var(--black-900);
    text-decoration: underline;
  }
  & h3 {
    margin: 0;
  }

  & svg {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    fill: var(--black-500);
  }
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1em;

  & a {
    color: inherit;
  }
}

.footer-cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  font: var(--font-0);
  background: var(--white);
  width: 20em;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px #0003;
  padding: 1.5em;
  border-top-left-radius: 8px;
  color: var(--black-700);

  & p {
    margin-top: 0;
  }
}
