.footer {
  font: var(--font-0);
  background: var(--white);
  padding: 2rem 5vw;
  color: var(--black-700);
  display: flex;
  column-gap: 2em;
  row-gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1em;

  & a {
    color: inherit;
  }
}

.footer-cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  font: var(--font-0);
  background: var(--white);
  width: 20em;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px #0003;
  padding: 1.5em;
  border-top-left-radius: 8px;
  color: var(--black-700);

  & p {
    margin-top: 0;
  }
}
