.input {
  --border: var(--black-500);
  --color: var(--black-900);
  --background: var(--white);
  --focus: var(--primary-300);

  display: block;
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  border: solid 1px var(--border);
  background: var(--white);
  color: var(--color);
  background-color: var(--background);
  border-radius: var(--radius-small);
  font: var(--font-1);
  padding: 0 1em;
  margin: 0;
  transition-property: background-color, color, box-shadow, border-color;
  transition-duration: var(--duration);
  outline: 0;
  text-decoration: none;
  font-weight: var(--regular);

  &::placeholder {
    color: var(--black-500);
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focus);
  }

  &.is-dirty:invalid {
    --border: var(--error-500);
    --focus: var(--error-300);

    &:hover {
      --border: var(--error-700);
    }
  }

  &:disabled {
    --border: var(--black-200);
    --color: var(--black-300);
    cursor: not-allowed;

    &::placeholder {
      opacity: 0;
    }
  }

  &[readonly] {
    --border: var(--black-200);
    box-shadow: none;
  }
}

textarea.input {
  padding-top: 1em;
  padding-bottom: 1em;
  height: auto;
  resize: vertical;
}
