.navbar {
  background: var(--white);
  padding: 1em 5vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
  justify-content: space-between;
  max-width: 1400px;
  box-sizing: border-box;
  min-height: calc(65px - 2rem);
  z-index: 2;

  @media (min-height: 500px) {
    position: sticky;
    top: 0;
  }
}
.navbar-logo img {
  display: block;
}
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
  align-items: baseline;
  row-gap: .5rem;
  font: var(--font-1);
  column-gap: 4px;

  @media (max-width: 760px) {
    &.has-ctas {
      display: none;
    }
  }

  &.has-links {
    flex-grow: 1;
    column-gap: 2rem;

    & a {
      color: var(--black-700);
      font-weight: var(--bold);

      &.is-selected {
        text-decoration: none;
        color: var(--black-600);
      }
    }
  }
}

/** Navbar container */
@media (min-height: 500px) {
  .has-navbar::before {
    content: "";
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    height: 70px;
    box-shadow: 0 0 32px -12px #0004;
  }
}