.navbar {
  background: var(--white);
  padding: 0 5vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: space-between;
  max-width: 1400px;
  box-sizing: border-box;
  height: 65px;
  z-index: 2;

  @media (min-height: 500px) {
    position: sticky;
    top: 0;
  }
}
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap: 1.5rem;

  & a {
    font: var(--font-1);
    color: var(--black);
    text-decoration: none;

    &:hover {
      color: var(--black-500);
    }
  }

  & a > strong {
    text-decoration: underline;
  }
}

/** Navbar container */
@media (min-height: 500px) {
  .has-navbar::before {
    content: "";
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    box-shadow: 0 0 32px -16px #0004;
  }
}