---
layout: layouts/base.njk
title: Thanks for joining to Badger beta tester group
css: /styles/focus.css
---
<section class="focus">
  <h2>🎉 Thanks!</h2>
  <p>You have just joined to our Badger beta tester group.<br>We'll contact you soon.</p>
  <a href="/" class="button is-secondary">Go back to the homepage</a>
</section>
