.block-faq {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;

  & h2 {
    font: var(--font-4-bold);
    letter-spacing: var(--font-spacing-4);
    margin: 0;
  }

  @media (min-width: 800px) {
    grid-template-columns: minmax(auto, 25%) 1fr;
  }
}
.block-faq-question {
  border-radius: var(--radius);
  margin-bottom: .5rem;

  & summary {
    cursor: pointer;
    outline: none;
    font: var(--font-3-bold);
    color: var(--black-700);
    display: block;
    padding: .5rem 1rem;
    border-radius: var(--radius);

    &:hover {
      color: var(--black-900);
      background-color: var(--black-100);
    }
  }
  &[open] {
    background-color: var(--black-100);
  }
}
.block-faq-answer {
  padding: .5rem 1rem;
  font: var(--font-1);

  & p {
    margin-top: 0;
  }
}