.block-header-wrapper {
  grid-template-columns: 0 minmax(0, calc(1400px - 10vw)) 0;
  display: grid;
  grid-column: 1 / -1 !important;
  justify-content: center;
  column-gap: 5vw;

  & img {
    box-shadow: 
      0 1px 2px rgba(0,0,0,0.1),
      0 2px 4px rgba(0,0,0,0.1),
      0 4px 8px rgba(0,0,0,0.1);
  }
}

.block-header {
  grid-column: 2;
  padding: 10vh 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  
  & h1 {
    font: var(--font-8-bold);
    letter-spacing: var(--font-spacing-8);
    margin: 0;

    & strong {
      color: var(--primary-500);
    }
  }

  & p {
    font: var(--font-3);
    letter-spacing: var(--font-spacing-2);
    color: var(--black-700);

    & strong {
      background-color: var(--primary-300);
      font-weight: inherit;
      color: var(--black-900);
      padding: 0 .2em;
    }
  }

  & img {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    justify-content: space-around;
    grid-template-columns: minmax(0, 45%) 1fr;
    text-align: left;
  }
}
