.block-highlightCta {
  padding: 5vh 5vw;
  background: var(--black-200);
  border-radius: var(--radius);
  text-align: center;

  & p {
    margin-top: .5em;
  }

  & h2 {
    font: var(--font-4-bold);
    letter-spacing: var(--font-spacing-4);
    margin: 0;
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: minmax(auto, 340px) minmax(auto, 550px);
    column-gap: 2rem;
    justify-content: center;
    text-align: left;

    & h2 {
      text-align: right;
    }
  }
}