.block-screenshot {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 10px 2rem 0 2rem;
  box-sizing: border-box;
  border-bottom: solid 1px var(--black-200);


  & img {
    display: block;
    max-width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: var(--shadow-line), var(--shadow-3);
  }
}
