@import "./blocks/header.css";
@import "./blocks/feature.css";
@import "./blocks/pricing.css";
@import "./blocks/highlight_cta.css";
@import "./blocks/highlight_cta2.css";
@import "./blocks/faq.css";

.blocks-container {
  display: grid;
  row-gap: 20vh;
  column-gap: 5vw;
  margin-bottom: 20vh;
  grid-template-columns: 0 minmax(0, calc(1400px - 10vw)) 0;
  justify-content: space-between;

  > * {
    grid-column: 2;
  }
}