html {
  scroll-behavior: smooth;
  text-rendering: auto;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: var(--font-1);
  color: var(--black-900);
}
body {
  margin: 0;
}
a {
  color: var(--primary-700);
}

::selection {
  background: var(--highlight-200);
  color: var(--black-900);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--black-200);
  margin: 2em 0;
}

/* Hide custom elements while not defined */
:not(:defined) {
  visibility: hidden;
}
