<footer class="footer">
  {{ footer.copyright }}
  <nav>
    <ul class="footer-links">
      {% for link in footer.links %}
      <li><a href="{{ link.href }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</footer>
<badger-cookies class="footer-cookies">
  {{ footer.cookies.text | md | safe }}

  <button class="button is-secondary is-small">{{ footer.cookies.button }}</button>
</badger-cookies>