<nav class="navbar">
  <a href="/">
    <img src="/badger.svg" alt="Badger logo">
  </a>

  <ul class="navbar-menu">
    {% for item in menu %}
    <li>
      <a href="{{ item.href }}">{{ item.text | safe }}</a>
    </li>
    {% endfor %}
    <li>
      <button data-feedback-fish class="button is-secondary">
        Give us feedback
      </button>
    </li>
  </ul>
</nav>