<nav class="navbar">
  <a href="/">
    <img src="/badger.svg" alt="Badger logo">
  </a>

  <ul class="navbar-menu">
    {% for item in menu %}
    <li>
      <a class="{{ item.class }}" href="{{ item.href }}">{{ item.text | safe }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>