<section class="block-faq">
  <header>
    <h2>{{ block.title | safe }}</h2>
    {{ block.description | md | safe }}
  </header>

  <div>
    {% for item in block.questions %}
    <details class="block-faq-question">
      <summary>{{ item.question | safe }}</summary>
      <div class="block-faq-answer">{{ item.answer | md | safe }}</div>
    </details>
    {% endfor %}
  </div>
</section>
