<section id="step-{{ loop.index }}" class="block-feature {{ block.class }}">
  <div class="block-feature-content">
    <h2>{{ block.title | safe }}</h2>
    {{ block.description | md | safe }}
  </div>

  {% if block.img %}
    <img src="{{ block.img }}">
  {% endif %}
</section>
