<section class="block-highlightCta">
  <header>
    <h2>{{ block.title | md(true) | safe }}</h2>
  </header>
  <div>
    {{ block.description | md | safe }}

    {% ifAsync block.cta %}
    {% set cta = block.cta %}
    {% include "templates/cta.njk" %}
    {% endif %}
  </div>
</section>