<section class="block-highlightCta2">
  <header>
    <h2>{{ block.title | md(true) | safe }}</h2>
    {{ block.description | md | safe }}
  </header>

  {% if block.cta %}
  <footer>
    {% set cta = block.cta %}
    {% include "templates/cta.njk" %}
  </footer>
  {% endif %}
</section>