---
title: Badger updates
description: Changelog and new features annoucements
---
<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ title }}</title>
	<subtitle>{{ description }}</subtitle>
	<link href="{{ url | url(true) }}" rel="self"/>
	<link href="{{ "/updates/" | url(true) }}"/>
	{% set lastUpdate = updates | last %}
	<updated>{{ lastUpdate.date | date("ATOM") }}</updated>
	{%- for update in updates %}
	<entry>
		<title>{{ update.title }}</title>
		<updated>{{ update.date | date("ATOM") }}</updated>
		<content type="html">{{ update.content | md | htmlUrl(true) }}</content>
	</entry>
	{%- endfor %}
</feed>