<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/favicon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta name="google-site-verification" content="IJ3PZ2iLpcLv-1arm84keiu1PVGjqXbLBzaasPKuI9o">
  <link rel="canonical" href="{{ url | url(true) }}">

  {% for href in css %}
  <link rel="stylesheet" href="{{ href }}?cache={{ cache }}">
  {% endfor %}

  {% if not disable_posthog %}
  {% include "templates/posthog.njk" %}
  {% endif %}

  <script src="/scripts/main.js?cache={{ cache }}" type="module"></script>

  {{ extra_header | safe }}
</head>

<body class="{{ body_class }}">
  {{ content | safe }}
  {% include "templates/footer.njk" %}
</body>
</html>