<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  {% if css %}
  <link rel="stylesheet" href="{{ css }}">
  {% endif %}
  {% include "templates/posthog.njk" %}
  <script src="/scripts/main.js" type="module"></script>
</head>

<body>
  {{ content | safe }}
</body>
</html>