---
layout: ./base.njk
css:
  - https://assets.calendly.com/assets/external/widget.css
  - /styles/landing.css
body_class: has-navbar
try_url: "https://app.getbadger.io"
---

{% include "templates/navbar.njk" %}

<header class="landing-header">
  <h1>{{ header.title | safe }}</h1>

  <div class="landing-header-content">
    <p>{{ header.intro | md | safe}}</p>

    <div class="button-group">
      <a href="{{ try_url }}" class="button is-primary is-responsive">{{ header.cta }}</a>
    </div>
  </div>
</header>

<div class="blocks-container">
  {% for block in steps %}
  <section id="step-{{ loop.index }}" class="landing-step {{ block.class }}">
    <div class="landing-step-content">
      <h2>{{ block.title | safe }}</h2>
      {{ block.description | md | safe }}
    </div>

    {% if block.img %}
      <img src="{{ block.img }}">
    {% endif %}
  </section>
  {% endfor %}

  {% set block = demo %}
  {% include "templates/blocks/highlight_cta2.njk" %}

  {% set block = faq %}
  {% include "templates/blocks/faq.njk" %}
</div>
