---
layout: ./base.njk
css:
  - https://assets.calendly.com/assets/external/widget.css
  - /styles/landing.css
body_class: has-navbar
try_url: "https://app.getbadger.io"
---

{% include "templates/navbar.njk" %}

<header class="landing-header">
  <h1>{{ header.title | safe }}</h1>

  <div class="landing-header-content">
    <p>{{ header.intro | md | safe}}</p>
    <a href="{{ try_url }}" class="button is-primary is-responsive">{{ header.cta }}</a>

    <!-- Calendly link widget begin -->
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <button class="button is-secondary" onclick="Calendly.initPopupWidget({url: '{{ header.calendly_url }}'});">{{ header.demo }}</button>
    <!-- Calendly link widget end -->
  </div>
</header>

{% for block in steps %}
<section id="step-{{ loop.index }}" class="landing-step {{ block.class }}">
  <div class="landing-step-content">
    <h2>{{ block.title | safe }}</h2>
    {{ block.description | md | safe }}
  </div>

  {% if block.img %}
    <img src="{{ block.img }}">
  {% endif %}
</section>
{% endfor %}

<section class="landing-resume">
  {{ resume | md | safe }}
</section>

<section class="landing-pricing">
  <header>
    <h2>{{ pricing.title | md(true) | safe }}</h2>
    {{ pricing.description | md | safe }}
  </header>
  <p class="landing-pricing-footer">
    <a href="{{ try_url }}" class="button is-primary">
      {{ pricing.cta }}
    </a>
  </p>
</section>

<section class="landing-demo">
  <header>
    <h2>{{ demo.title | md(true) | safe }}</h2>
  </header>
  <div class="landing-demo-content">
    {{ demo.description | md | safe }}

    <button class="button is-primary" onclick="Calendly.initPopupWidget({url: '{{ header.calendly_url }}'});">{{ demo.cta }}</button>
  </div>
</section>

<section class="landing-faq">
  <header>
    <h2>{{ faq.title | safe }}</h2>
    {{ faq.description | md | safe }}
  </header>

  <div class="faq-questions">
    {% for item in faq.questions %}
    <details class="landing-faq-question">
      <summary>{{ item.question | safe }}</summary>
      <div class="landing-faq-answer">{{ item.answer | md | safe }}</div>
    </details>
    {% endfor %}
  </div>
</section>