---
layout: ./base.njk
css: /styles/landing.css
---

<header class="landing-header">
  <h1>{{ header.title | safe }}</h1>

  <div class="landing-header-content">
    <p>{{ header.intro | md | safe}}</p>
    <a href="#subscribe" class="button is-primary is-responsive">{{ header.cta }}</a>
  </div>
</header>

{% for block in steps %}
<section id="step-{{ loop.index }}" class="landing-step {{ block.class }}">
  <div class="landing-step-content">
    <h2>{{ block.title | safe }}</h2>
    {{ block.description | md | safe }}
  </div>

  {% if block.img %}
    <img src="{{ block.img }}">
  {% endif %}
</section>
{% endfor %}

<section class="landing-resume">
  {{ resume | md | safe }}
</section>

<section class="landing-join">
  <header>
    <h2>{{ join.title | safe }}</h2>
    {{ join.description | md | safe }}
  </header>

  <badger-subscribe id="subscribe">
    <form method="post">
      <div class="field">
        <label for="email" class="field-label">
          {{ join.email.label }}
        </label>
        <input required type="email" id="email" class="input field-input" placeholder="{{ join.email.placeholder }}">
      </div>
      <button type="submit" class="button is-primary is-responsive">{{ join.cta }}</button>
    </form>
    <template class="tmpl-success">
      <div class="form-success">
        {{ join.success | md | safe }}
        {{ comp.fireworks() | safe }}
      </div>
    </template>
    <template class="tmpl-error">
      <div class="form-error">
        {{ join.error | md | safe }}
      </div>
    </template>
  </badger-subscribe>
</section>

<section class="landing-faq">
  <header>
    <h2>{{ faq.title | safe }}</h2>
  </header>

  <div class="faq-questions">
    {% for item in faq.questions %}
    <details class="landing-faq-question">
      <summary>{{ item.question | safe }}</summary>
      <div class="landing-faq-answer">{{ item.answer | md | safe }}</div>
    </details>
    {% endfor %}
  </div>
</section>