---
layout: ./base.vto
css:
  - /styles/landings.css
body_class: has-navbar
try_url: "https://app.getbadger.io"
---

{{ include "templates/navbar.vto" }}

<div class="blocks-container">
{{ include "templates/blocks.vto" }}
</div>