---
layout: ./base.njk
css:
  - /styles/landings.css
body_class: has-navbar
try_url: "https://app.getbadger.io"
---

{% include "templates/navbar.njk" %}

<div class="blocks-container has-padding-top">
  {% include "templates/blocks/pricing.njk" %}
</div>
