---
layout: ./base.njk
css:
  - /styles/pricing.css
body_class: has-navbar
try_url: "https://app.getbadger.io"
---

{% include "templates/navbar.njk" %}

<header class="pricing-header">
  <h1>{{ header.title }}</h1>

  <label class="switch">
    <input type="checkbox" checked class="switch-input" id="show-annually" />
    <div class="switch-label">
      <div class="switch-label-content">{{ header.switch }}</div>
    </div>
  </label>
</header>

<ul class="pricing-tiers">
  {% for tier in tiers %}
  <li>
    <article class="tier">
      <header class="tier-header">
        <h2>{{ tier.name }}</h2>
        <p>{{ tier.subtitle }}</p>
      </header>

      <p class="tier-pricing is-month">
        <strong><sup>$</sup>{{ tier.price_month }}</strong>
        <em>/ month</em>
      </p>
      <p class="tier-pricing is-year" hidden>
        <strong><sup>$</sup>{{ tier.price_year / 12 }}</strong>
        <em>
          / month<br>
          ${{ tier.price_year }} billed annually
        </em>
      </p>
      <ul class="tier-features">
        {% for feature in tier.features %}
        <li>{{ feature | md | safe }}</li>
        {% endfor %}
      </ul>
      <a href="https://app.getbadger.io" class="tier-cta button is-primary">{{ tier.cta }}</a>
    </article>
  </li>
  {% endfor %}
</ul>

<footer class="pricing-footer">
  {{ contact | md | safe }}
</footer>

<script>
  {
    const showAnnually = document.getElementById('show-annually');
    const monthly = document.querySelectorAll('.is-month');
    const yearly = document.querySelectorAll('.is-year');

    showAnnually.addEventListener('change', (e) => {
      if (e.target.checked) {
        monthly.forEach((el) => el.hidden = true);
        yearly.forEach((el) => el.hidden = false);
      } else {
        monthly.forEach((el) => el.hidden = false);
        yearly.forEach((el) => el.hidden = true);
      }
    });
    showAnnually.dispatchEvent(new Event('change'));
  }
</script>