---
layout: layouts/base.njk
css: 
  - /styles/roadmap.css
states:
  - Backlog
  - Upcoming
  - Building
  - Released
---

<div class="roadmap">
  <header class="roadmap-header">
    <img src="/img/icon.svg" alt="Badger icon" width="60" height="60" class="roadmap-header-icon">
    <div>
      <nav class="roadmap-header-nav">
        <a href="/">← Back to home</a>
      </nav>
      <h1 class="roadmap-header-title">
        Badger Roadmap
      </h1>
    </div>
  </header>

  <div class="roadmap-kanvan">
  {% for state in states %}
    <section class="roadmap-column">
      <h2 class="roadmap-column-title is-{{ state | lower }}">{{ state }}</h2>
      <ul class="roadmap-column-features">
        {% for feat in features %}
          {% if feat.state == state %}
          <li class="feature">
              <h3 class="feature-title">{{ feat.title }}</h3>
              <div class="feature-description">{{ feat.description | md | safe }}</div>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
  </div>
</div>