@import "styles/default.css";
@import "styles/variables.css";
@import "styles/components.css";

.navbar,
.footer,
body {
  background: var(--black-100);
}

.blog-header {
  margin: 0;
  display: grid;
  row-gap: .1rem;
}
.blog-header-title {
  font: var(--font-5-bold);
  letter-spacing: var(--font-spacing-5);
  margin: 0;
}
.blog-header-nav {
  font: var(--font-1-bold);

  & a {
    text-decoration: none;
    color: var(--black-700);

    &:hover {
      text-decoration: underline;
    }
  }
}
.post-header {
  margin: 0;
  display: grid;
  row-gap: .1rem;
  margin-bottom: 5vh;

  & p {
    margin-top: .25em;
    font: var(--font-0);
  }
}
.post-title {
  font: var(--font-5-bold);
  letter-spacing: var(--font-spacing-5);
  max-width: 20em;
  margin: 0;
  color: var(--black-900);
}
.post-header-nav {
  font: var(--font-1-bold);

  & a {
    text-decoration: none;
    color: var(--black-700);

    &:hover {
      text-decoration: underline;
    }
  }
}

.blog {
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 5vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.post-body {
  padding: 2rem;
  background: var(--white);
  border-radius: var(--radius);
  color: var(--black-700);
}
.post {
  padding: 2rem;
  background: var(--white);
  border-radius: var(--radius);
  color: var(--black-700);

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: min(30%, 300px) 1fr;
    column-gap: 3rem;
    align-items: start;

    & > header {
      position: sticky;
      top: 120px;
    }
  }


  & h2 {
    color: var(--black);
    font: var(--font-3-bold);
    letter-spacing: var(--font-spacing-3);
    margin: 0;

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  & header p {
    margin-top: .25em;
    font: var(--font-0);
  }
  & footer {
    margin-top: 2rem;
  }
}
.post-content {
  font: var(--font-1);
  line-height: 1.6;

  & img {
    max-width: 100%;
    margin: 1rem 0;
  }

  & > :last-child,
  & > :last-child > :last-child {
    margin-bottom: 0;
  }
}