@import "styles/default.css";
@import "styles/variables.css";
@import "styles/components.css";

.landing-header {
  padding: 10vh 5vw 25vh 5vw;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-end;
  
  & h1 {
    font: var(--font-8-bold);
    letter-spacing: var(--font-spacing-8);
    flex: 0 0 auto;
    margin: 0;
    background: url("../img/underline.svg") no-repeat center bottom;
    background-size: 100% auto;
    padding-bottom: 2rem;

    & strong {
      color: var(--primary-500);
    }
  }

  & p {
    font: var(--font-3);
    letter-spacing: var(--font-spacing-2);
    color: var(--black-700);
    max-width: 20em;

    & strong {
      background-color: var(--highlight-200);
      font-weight: inherit;
      color: var(--black-900);
      padding: 0 .2em;
    }
  }

  @media (min-width: 1000px) {
    justify-content: space-around;

    & h1 {
      text-align: center;
    }
  }
}
.landing-header-content {
  padding-bottom: 2.6rem;
  /* background: url("/img/blob.svg") no-repeat top right; */
}

.landing-step {
  padding: 10vh 5vw;
  margin: 0 auto;
  max-width: calc(1400px - 10vw);
  display: flex;
  column-gap: 4rem;
  row-gap: 2rem;

  & h2 {
    font: var(--font-0-bold);
    letter-spacing: var(--font-spacing-1);
    text-transform: uppercase;
    color: var(--primary-700);
    margin: 0;
  }
  & p {
    font: var(--font-2-bold);
    letter-spacing: var(--font-spacing-2);
  }
  & img {
    max-width: 100%;
    min-width: 200px;
    display: block;
  }

  &.is-connect {
    align-items: center;
    justify-content: center;
    background: var(--black-100);
    box-sizing: border-box;

    @media (max-width: 700px) {
      flex-wrap: wrap;
      width: 100%;
    }

    @media (min-width: 1250px) {
      border-radius: 8px;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }

  &.is-chart {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    @media (max-width: 700px) {
      flex-wrap: wrap;
    }
  }

  &.is-save {
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &.is-comment {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    & .landing-step-content {
      background: url("../img/underline2.svg") no-repeat left bottom;
      background-size: 100% auto;
      padding-bottom: 20px;
    }

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &.is-report {
    flex-direction: column;
    align-items: center;

    & .landing-step-content {
      background: url("../img/arrow.svg") no-repeat left bottom;
      padding-left: 60px;
    }
  }
}
.landing-step-content {
  max-width: 20rem;

  & strong {
    background-color: var(--highlight-200);
    padding: 0 .2em;
  }
}

.landing-join {
  padding: min(4rem, 5vw);
  width: calc(100% - 10vw);
  max-width: calc(1400px - 10vw);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  background: var(--black-900);
  color: var(--white);
  border-radius: 8px;
  margin: 5vh auto;

  & > * {
    flex: 1 1 300px;
    margin: 0;
  }

  & h2 {
    font: var(--font-2-bold);
    margin: 0;
  }

  & p {
    font: var(--font-1);
    color: var(--black-400);
  }
  & label {
    color: var(--white);
  }
  & .input {
    --border: var(--black-900);
  }
}

.landing-resume {
  padding: 10vh 5vw;
  margin: 0 auto;
  max-width: 24em;
  font: var(--font-4);
  letter-spacing: var(--font-spacing-4);
  text-align: center;
  color: var(--black-900);
  background: url("../img/arrow-2.svg") no-repeat center bottom;
  padding-bottom: 100px;
}

.landing-pricing {
  padding: 10vh 5vw;
  width: calc(100% - 10vw);
  max-width: calc(1400px - 10vw);
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  background: var(--black-900);
  color: var(--white);
  border-radius: var(--radius);

  & h2 {
    font: var(--font-5-bold);
    letter-spacing: var(--font-spacing-5);
    margin: 0;

    & strong {
      color: var(--primary-500);
    }
  }
  & header p {
    font: var(--font-1);
    letter-spacing: var(--font-spacing-2);
    color: var(--black-300);
    margin: .5em 0 0;
  }
}

.landing-demo {
  padding: 5vh 5vw;
  width: calc(100% - 10vw);
  max-width: calc(1400px - 10vw);
  background: var(--black-200);
  box-sizing: border-box;
  margin: 10px auto 0 auto;
  border-radius: var(--radius);
  text-align: center;

  & p {
    margin-top: .5em;
  }

  & h2 {
    font: var(--font-4-bold);
    letter-spacing: var(--font-spacing-4);
    margin: 0;
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: minmax(auto, 340px) minmax(auto, 550px);
    column-gap: 2rem;
    justify-content: center;
    text-align: left;

    & h2 {
      text-align: right;
    }
  }
}

.landing-faq {
  padding: 10vh 5vw;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;

  & h2 {
    font: var(--font-4-bold);
    letter-spacing: var(--font-spacing-4);
    margin: 0;
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: minmax(auto, 25%) 1fr;
    column-gap: 2rem;
  }
}
.landing-faq-question {
  border-radius: var(--radius);
  margin-bottom: .5rem;

  & summary {
    cursor: pointer;
    outline: none;
    font: var(--font-3-bold);
    color: var(--black-700);
    display: block;
    padding: .5rem 1rem;
    border-radius: var(--radius);

    &:hover {
      color: var(--black-900);
      background-color: var(--black-100);
    }
  }
  &[open] {
    background-color: var(--black-100);
  }
}
.landing-faq-answer {
  padding: .5rem 1rem;
  font: var(--font-1);

  & p {
    margin-top: 0;
  }
}