@import "styles/default.css";
@import "styles/variables.css";
@import "styles/components.css";

.landing-header {
  padding: 10vh 5vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  
  & h1 {
    font: var(--font-8-bold);
    letter-spacing: var(--font-spacing-8);
    flex: 0 0 auto;
    margin: 0;
    background: url("../img/underline.svg") no-repeat center bottom;
    background-size: 100% auto;
    padding-bottom: .5em;

    & strong {
      background: linear-gradient(to left, var(--primary-500), var(--primary-700));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & p {
    font: var(--font-3);
    letter-spacing: var(--font-spacing-2);
    color: var(--black-700);
    max-width: 20em;
  }
}

.landing-step {
  padding: 10vh 5vw;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  column-gap: 4rem;
  row-gap: 2rem;

  & h2 {
    font: var(--font-0-bold);
    letter-spacing: var(--font-spacing-1);
    text-transform: uppercase;
    color: var(--primary-700);
    margin: 0;
    background: var(--white);
  }
  & p {
    font: var(--font-2-bold);
    letter-spacing: var(--font-spacing-2);
  }
  & img {
    max-width: 100%;
    min-width: 200px;
    display: block;
  }

  &.is-connect {
    justify-content: center;
    align-items: center;

    & img {
      max-width: 400px;
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;

      & img {
        max-width: 20rem;
      }
    }
  }

  &.is-chart {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    @media (max-width: 700px) {
      flex-wrap: wrap;
    }
  }

  &.is-save {
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &.is-comment {
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &.is-report {
    flex-direction: column;
    align-items: center;

    & .landing-step-content {
      background: url("../img/arrow.svg") no-repeat left bottom;
      padding-left: 60px;
    }
  }
}
.landing-step-content {
  max-width: 20rem;
}

.landing-join {
  padding: min(4rem, 5vw);
  width: calc(100% - 10vw);
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  background: var(--black-900);
  color: var(--white);
  border-radius: 8px;
  margin: 5vh auto;

  & > * {
    flex: 1 1 300px;
    margin: 0;
  }

  & h2 {
    font: var(--font-2-bold);
    margin: 0;
  }

  & p {
    font: var(--font-1);
    color: var(--black-400);
  }
  & label {
    color: var(--white);
  }
  & .input {
    --border: var(--black-900);
  }
}

.landing-resume {
  padding: 10vh 5vw;
  margin: 0 auto;
  max-width: 30em;
  font: var(--font-4);
  text-align: center;
  color: var(--black-900);
}